@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	color: darkblue;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background: #000;
	overflow: hidden;
}

/*----------------*/
.container {
	width: 50%;
  height: 60vh;
  position: absolute;
  top: 35%;
}
.optionsBox{
  width: 100%;
  height: 105%;
  background-color: black;
  border-radius: .5rem;
  border: .2rem solid #03a9f4;
  box-shadow: 0rem 0rem 6rem #03a9f4, 0 0 0 0.3rem rgba(0, 0, 0, 0.3);
  
  position: relative;
  overflow: hidden;
}

.options{
	list-style: none; /* Remove default list bullets */
    padding: 0; /* Remove default padding */
	margin-top: .2rem;
}

.options li{
	margin-top: .1rem;
	margin-left: .05rem;
	margin-right: .05rem;
}

.options li button {
	width: 100%;

    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
	
	background-color: rgba(5, 0, 24, 0.959);
    border: .1rem solid #1434A4; /* Add a border to create the box */
	border-radius: .5rem;
	padding: .7rem; /* Add padding to space the text from the box's edges */

	/*centering the text*/
    display: flex;
    justify-content: center;
	margin-bottom: .4rem;

	font-size: 1.5rem;
	font-weight: 600;
	color: rgb(0, 0, 205);

	transition: transform 0.5s ease;
}
.options li button:hover{
	transform: scale(1.1);
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
}
.optionsBox:hover{
	overflow: visible;
}
.optionsBox::-webkit-scrollbar {
	display: none;
}
/*---------------------*/

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
	
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:hover:before {
    opacity: 1;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


/*-----------------------*/

.content {
	position: absolute;
}

.content h2 {
	color: #fff;
	font-size: 8em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
	color: #03a9f4;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

	0%,
	100% {
		clip-path: polygon(0% 45%,
				16% 44%,
				33% 50%,
				54% 60%,
				70% 61%,
				84% 59%,
				100% 52%,
				100% 100%,
				0% 100%);
	}

	50% {
		clip-path: polygon(0% 60%,
				15% 65%,
				34% 66%,
				51% 62%,
				67% 50%,
				84% 45%,
				100% 46%,
				100% 100%,
				0% 100%);
	}
}

.links {
	position: absolute;
	top: 93%;
}

.links a {
	font-family: sans-serif;
	color: darkblue;
	font-size: small;
	font-weight: 900;
	text-decoration: none;

	margin-right: 5em;

	--c: linear-gradient(darkblue 0 0);
	/* update the color here */

	padding-bottom: .15em;
	background: var(--c), var(--c);
	background-size: .3em .3em;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	transition: .3s linear, background-size .3s .2s linear;
}

.links a:hover {
	background-size: 40% .3em;
	background-position: 10% 100%, 90% 100%;
}

.background {
	position: absolute;
}

.glowing {
	position: relative;
	min-width: 700px;
	height: 550px;
	margin: -150px;
	transform-origin: right;
	animation: colorChange 5s linear infinite;
}

.glowing:nth-child(even) {
	transform-origin: left;
}

@keyframes colorChange {
	0% {
		filter: hue-rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		filter: hue-rotate(360deg);
		transform: rotate(360deg);
	}
}

.glowing span {
	position: absolute;
	top: calc(80px * var(--i));
	left: calc(80px * var(--i));
	bottom: calc(80px * var(--i));
	right: calc(80px * var(--i));
}

.glowing span::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -8px;
	width: 15px;
	height: 15px;
	background: #f00;
	border-radius: 50%;
}

.glowing span:nth-child(3n + 1)::before {
	background: rgba(134, 255, 0, 1);
	box-shadow: 0 0 20px rgba(134, 255, 0, 1),
		0 0 40px rgba(134, 255, 0, 1),
		0 0 60px rgba(134, 255, 0, 1),
		0 0 80px rgba(134, 255, 0, 1),
		0 0 0 8px rgba(134, 255, 0, .1);
}

.glowing span:nth-child(3n + 2)::before {
	background: rgba(255, 214, 0, 1);
	box-shadow: 0 0 20px rgba(255, 214, 0, 1),
		0 0 40px rgba(255, 214, 0, 1),
		0 0 60px rgba(255, 214, 0, 1),
		0 0 80px rgba(255, 214, 0, 1),
		0 0 0 8px rgba(255, 214, 0, .1);
}

.glowing span:nth-child(3n + 3)::before {
	background: rgba(0, 226, 255, 1);
	box-shadow: 0 0 20px rgba(0, 226, 255, 1),
		0 0 40px rgba(0, 226, 255, 1),
		0 0 60px rgba(0, 226, 255, 1),
		0 0 80px rgba(0, 226, 255, 1),
		0 0 0 8px rgba(0, 226, 255, .1);
}

.glowing span:nth-child(3n + 1) {
	animation: animatebg 10s alternate infinite;
}

.glowing span:nth-child(3n + 2) {
	animation: animatebg-reverse 3s alternate infinite;
}

.glowing span:nth-child(3n + 3) {
	animation: animatebg 8s alternate infinite;
}

@keyframes animatebg {
	0% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes animatebg-reverse {
	0% {
		transform: rotate(360deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(0deg);
	}
}


